<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".AddingEvents"
            android:exported="false" />
        <activity
            android:name=".chooseUser"
            android:exported="false" />
        <activity
            android:name=".DonationActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity3"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity2"
            android:exported="false" />
        <activity
            android:name=".ElderySignUp"
            android:exported="false" />
        <activity
            android:name=".retiermentLogin"
            android:exported="false" />
        <activity
            android:name=".DayEvents"
            android:exported="false" />
        <activity
            android:name=".DayPlans"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".ContentActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>